{% extends "base.html" %}

{% block scripts %}
{% endblock %}

{% block base_content %}

    <div class="container">

        <div class="row">

            <div class="col-md-8 col-md-offset-2">

                 <a style="float:right;margin-top: 25px;" href="/users" class="btn btn-primary">Manage Users</a>

                <h1>Manage Events</h1>
    
                <br />
               
                {% if event_objs %}
                    <table class="table">
                        <tr><td>Headline</td><td>&nbsp;</td></tr>
                    {% for event in event_objs %}
                        <tr>
                            <td>
                                {{event.headline}}
                            </td>
                            <td style="width:140px;">
                                
                                <a class="btn btn-primary" href="/events/edit/{{ event.key().id() }}">Edit</a>
                                <a class="btn btn-danger" href="/events/delete/{{ event.key().id() }}">Delete</a>

                            </td>
                        </tr>
                    {% endfor %}
                    </table>
                {% else %}
                    No events found.
                {% endif %}

                <a href="/events/create" class="btn btn-primary">Add</a>

            </div>

        </div>

    </div>

{% endblock %}
