{% extends "base.html" %}

{% block scripts %}
{% endblock %}

{% block base_content %}
	
    {% if event_objs %}
        <table>
            <tr><td>Headline</td><td>Date of event</td><td>&nbsp;</td></tr>
        {% for event in event_objs %}
            <tr>
                <td>
                    {{event.headline}}
                </td>
                <td>
                    {{event.date_of_incident}}
                </td>
                <td>
                    
                    <a href="/events/edit/{{ event.key().id() }}">Edit</a>
                    <a href="/events/delete/{{ event.key().id() }}">Delete</a>

                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        No events found.
    {% endif %}

{% endblock %}
