{% extends "base.html" %}

{% block scripts %}
{% endblock %}

{% block base_content %}
	
    {% if events %}
        <table>
            <tr><td>Headline</td><td>Date of event</td></tr>
        {% for event in events %}
            <tr>
                <td>
                    {{event.headline}}
                </td>
                <td>
                    {{event.date_of_incident}}
                </td>
            </tr>
        {% endfor %}
        </table>
    {% else %}
        No events found.
    {% endif %}

{% endblock %}
