{% extends "base.html" %}

{% block scripts %}


{% endblock %}

{% block base_content %}

    <form name=event method=post action="{% if event.id %}{{ '/events/update' }}{% else %} '/events/create'  {% endif %}">
        Headline:
        <input type=text id=headline {% if event %} value={{event.headline}} {% endif %} />

        Radius area of impact:
        <input type=text id=area {% if event %} value={{event.area}} {% endif %} />

        Area name:
        <input type=text id=area {% if event %} value={{event.area_name}} {% endif %} />

        Severity:
        <select id=severity>
            <option value=1 {% if event %} {% if event.severity == 1 %}selected=selected{% endif %}{% endif %}>1</option>
            <option value=2 {% if event %} {% if event.severity == 2 %}selected=selected{% endif %}{% endif %}>2</option>
            <option value=3 {% if event %} {% if event.severity == 3 %}selected=selected{% endif %}{% endif %}>3</option>
            <option value=4 {% if event %} {% if event.severity == 4 %}selected=selected{% endif %}{% endif %}>4</option>
            <option value=5 {% if event %} {% if event.severity == 5 %}selected=selected{% endif %}{% endif %}>5</option>
        </select>

        <input type="checkbox" id=active> 
        This event is active

        Date of incident:
        <input type=text id=dateofincident />

        Latitude:
        <input type=text id=lat />

        Longitude:
        <input type=text id=lon />

        Description:
        <input type=textarea id=description />

        Items of help needed:
        <input type=textarea id=description />

    </form>

{% endblock %}
