{% extends "base.html" %}

{% block base_content %}
	
	<div class="row">

		<div class="span10 offset1">

			<div class="outer-wrapper">

				<div class="inner-wrapper">

					<div class="row-fluid">

						<div class="span12">

							<div id="header-bar">

								<a style="float:left;" href="/"><h3>IdentiChip</h3></a>

								<ul class="top-nav" style="float:right;margin-right: 20px;">

									{% if user %}
									<li><a href="/profile"><strong>{{ user.email() }}</strong></a></li>

									{% if is_current_user_admin %}
									<li><a href="/admin"><strong>Admin</strong></a></li>
									{% endif %}

									<li><a href="/logout" style="font-size: 11px;" class="lock-icon">Logout</a></li>
									{% else %}
									<li><a href="/signin">Login</a></li>
									{% endif %}

								</ul>

								<ul class="top-nav" style="float:left;margin-left:-5px;">
									<li><a href="/" id="btn-start-search"><img src="/img/search.png" style="height:16px;margin-left: 5px;" />Search</a></li>
									<li><a href="/about">About</a></li>
									<li><a href="/stats">Statistics</a></li>
									<li><a href="/providers">Providers</a></li>
								</ul>

								<div class="clearfix"></div>

							</div>

						</div>


					</div>

					<div class="row-fluid" style="display:none;" id="block-search-page">

						<div class="span12" style="padding: 0;margin:0;">

							<form id="form_search_block" action="/search" method="post" style="margin:0;width:757px;background-color:transparent;">
								<input type="hidden" name="search_token" value="{{session['search_token']}}" />
								<input style="width:625px;" type="text" id="search_box" name="q" value="" class="email" placeholder="Microchip / Tag Number to Search for, eg. (999000000000017)" />
								<button type="submit" id="submit">Search</button>
							</form>

						</div>

					</div>

					{% block content %}No Content on this Page!{% endblock %}

				</div>

			</div>
		</div>

	</div>

{% endblock %}

{% block base_scripts %}

<script type="text/javascript">
	$(document).ready(function(){

		// Add Click Event Handler
		$("#btn-start-search").click(function(){

			// Toggle
			if($("#block-search-page").is(':visible')) $("#block-search-page").slideUp('slow');
			else $("#block-search-page").slideDown('slow');

			// Don't follow the link
			return false;

		});

	});
</script>

{% endblock %}
