{% extends "base.html" %}

{% block scripts %}
{% endblock %}

{% block base_content %}
	
    {% if event %}
        Headline:
        {{event.headline}}

        Radius area of impact:
        {{event.area}}

        Area name:
        {{event.area_name}}

        Severity:
        {{event.severity}}

        This event is active:
        {% if event.active %} Yes {% else %} No {% endif %}

        Date of incident:
        {{event.date_of_incident}}

        Latitude:
        {{event.location.lat}}

        Longitude:
        {{event.location.lon}}

        Description:
        {{event.description}}

        Items of help needed:
        {{event.items}}

    {% else %}
        No such event.
    {% endif %}

{% endblock %}
